.adPage{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.ad{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.landImage{
    overflow: hidden;
    margin: 1vw;
}

.landImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ownerDet{
    background-color: #D9D9D9;
    margin: 1vw;
    padding: 0 5vw;
}

.landDet{
    background-color: #D9D9D9;
    grid-column: span 2;
    margin: 1vw;
    padding: 0 5vw;
}

.ownerDet p, .landDet p{
    display: flex;
    align-items: center;
}

.ownerTitle, .landTitle{
    font-weight: bold;
    font-size: 2.8vw;
    margin-bottom: 0;
}

.ownerDet .icon, .landDet .icon{
    width: 2.3vw;
    padding: 0.5vw 1.5vw;
}

.ownerDet span, .landDet span{
    font-size: 1.8vw;
    color: #000;
}

.landDet .price{
    color: #008E42;
    font-size: 2.5vw;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.landDet .description{
    font-size: 1.5vw;
    color: #000;
}