.sideMenu{
    display: flex-direction-column;
    background-color: #004B23;
    width: 15vw;
    height: 100vh;
    padding: 1.5vw;
    padding-top: 3vw;
}

button{
    background-color: #004B23;
    border-radius: 3vw;
    border: 2px solid black;
    padding: 0.5vw 1vw;
    margin: 0.5vw;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover{
    background-color: #007537;
}

.category{
    font-size: 1.3vw;
}

.subCategory button{
    margin-left: 2vw;
    transition: height 1s;
    font-size: 1vw;
}

.arrow{
    height: 1vw;
    width: 1vw;
    transition: transform 0.3s;
}